:root {
    --default-fg: #33ff33;
    --default-bg: black;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frosted {
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

body {
    background-image: url(../images/haunted_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: grid;
    grid-template-columns: minmax(200px, 800px);
    justify-content: center;
    gap: 40px;
    margin: 20px;
    font-family: 'Cascadia Mono', monospace;
}

h1 {
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

#terminal {
    color: var(--default-fg);
    height: 400px;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    align-content: start;
    overflow: scroll;
}

.cursor {
    background-color: var(--default-fg);
    color: var(--default-bg);
    opacity: .5;
}

#output {
    white-space: pre-line;
}

#input-area {
    display: flex;
    align-items: start;
    white-space: pre; /* prevents spaces from collapsing */
}

#terminal-input {
    all: unset; /* wipe most browser styles */
    flex: 0 1 auto;
    caret-color: transparent;
}

#terminal:focus-within .cursor {
    opacity: 1;
    animation: blink 1s step-end infinite;
}

#terminal:active .cursor{
    opacity: 1;
}

#new-game-btn {
    justify-self: center;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (min-width: 500px) {
    main {

    }
}

@keyframes blink {
    0% {
        background-color: var(--default-bg);
        color: var(--default-fg);
    }
    50% {
        background-color: var(--default-fg);
        color: var(--default-bg);
    }
}

